@media screen and (max-width: 1367px) {
  .search__field {
    margin-right: 2%;
  }
}
@media screen and (max-width: 1280px) {
  .menu__item {
    font-size: 14px;
    &_active {
      border-bottom-width: 4px;
    }
  }
  .green-button {
    font-size: 16px;
  }
  .gray-button {
    font-size: 16px;
  }
  .info {
    font-size: 12px;
  }
  .logo svg {
    width: 190px;
  }
  aside .green-invert-button {
    width: 35%;
  }
  .gray-invert-button {
    width: 35%;
  }
  .sidebar-item__title {
    margin-top: 0.2em;
  }
}
@media screen and (max-width: 1136px) {
  .menu__item {
    font-size: 12px;
    &_active {
      border-bottom-width: 3px;
    }
  }
  .gray-button {
    font-size: 14px;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  .green-button {
    font-size: 14px;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  .logo svg {
    width: 180px;
  }
  header {
    height: 130px;
  }
  .second-menu {
    height: 40px;
    &__item {
      font-size: 14px;
    }
  }
  .search__button {
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 1103px) {
  aside .green-invert-button {
    width: 40%;
  }
  .gray-invert-button {
    width: 40%;
  }
}
@media screen and (max-width: 1024px) {
  .comment__text {
    margin-top: 0;
  }
  .payment__item svg {
    height: 30px;
  }
  .payment__item_neteller {
    & svg {
      height: 20px;
    }
  }
  .search {
    &__field {
      height: 30px;
    }
    &__button {
      width: 20px;
      height: 20px;
    }
  }
}
@media screen and (max-width: 951px) {
  .menu__item {
    font-size: 10px;
  }
  .logo svg {
    width: 170px;
  }
  .info {
    font-size: 10px;
  }
  .green-button {
    font-size: 12px;
  }
  .gray-button {
    font-size: 12px;
  }
  .menu__item_active {
    border-bottom-width: 2px;
  }
  .sidebar{
    &__header {
      height: 40px;
    }
    &__title {
      font-size: 16px;
    }
    &-item__title {
      font-size: 16px;
    }
  }
  .second-menu__item {
    font-size: 12px;
  }
  aside .green-invert-button {
    width: 45%;
  }
  .gray-invert-button {
    width: 45%;
  }
  .footer-link {
    &__title {
      font-size: 14px;
    }
    &__item {
      font-size: 12px;
    }
  }
  .majority__text {
    width: 40%;
  }
  .comment-form__field {
    width: 99%;
  }
  .comment-form__text-field {
    width: 99%;
  }
  .sp-center_footer {
    margin-bottom: 20px;
  }
  .support {
    height: 40px;
    width: 240px;
    & svg {
      width: 20px;
    }
  }
}
@media screen and (max-width: 856px) {
  .logo svg {
    width: 150px;
  }
  .gray-button_header {
    margin-right: 7%;
  }
  aside .green-invert-button {
    width: 50%;
  }
  .gray-invert-button {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
  .header-container {
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
  }
  .logo svg {
    width: 200px;
  }
  .info {
    font-size: 12px;
  }
  .gray-button {
    font-size: 18px;
  }
  .green-button {
    font-size: 18px;
  }
  .mobile-hamburger {
    display: block;
  }
  nav {
    & .gray-button {
      margin-top: 20px;
    }
  }
}